@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.banner{
    position: relative;
    font-family: 'Changa', sans-serif;

}
.banner-title{
    position: absolute;
    top: 70%;
    left: 8%;
    font-size: 5.5rem;
    line-height: 20px;
    color: #fff;
}

.article-text{
    text-align: center;
    font-size: 5rem;
}

/* search-results */
.search-results {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    margin: 20px;
}
.product{
    height: 250px;
    width: 200px;
    border: 2px solid;
    margin: 10px 20px;
}